/AdvancedRaceTrackKarel.class
/AdvancedRaceTrackKarel_Solved1.class
/AdvancedRaceTrackKarel_Solved2.class
/BeeperCarryKarel.class
/BeeperCarryKarel_Solved.class
/BeeperCollectingKarel.class
/CheckerboardKarel.class
/CollectNewspaperKarel.class
/CollectNewspaperKarel_Solved.class
/FibonacciKarel.class
/HurdleJumpingKarel.class
/MidpointFindingKarel.class
/PyramidKarel.class
/SimpleRaceTrackKarel.class
/SimpleRaceTrackKarel_Solved.class
/SlalomKarel.class
/SpiralEscapeKarel.class
/StoneMasonKarel.class
/StoneMasonKarel_Solved_ProSaeule1.class
/StoneMasonKarel_Solved_ProSaeule2.class
/StoneMasonKarel_Solved_ProZeile1.class
/StoneMasonKarel_Solved_ProZeile2.class
